body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
body p{
    color: white;
}
/*.container{
    grid-template-columns: 12;
}*/

.container{
    position: relative;
    margin: auto;
    width: 40%;
    padding: 10px;
    /*border: white;
    border-style: solid;*/
    text-align: Center;
}

.navbar{
    position: absolute;
}
.navbar a{
    margin: auto;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 14px 16px;
    font-size: 2em;
    font-weight: 900;
}
.picOnLeft{
    margin:auto;
    font-weight: 200;
    text-align: left;
    color: white;
}
.picOnLeft img{
    width: 290px;
}

.logoBottom img{
    position: fixed; bottom:0; left: 0;
}
.frontPICclass img{
    width: 600px;
}
